<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>


<div>
  <p>Total Products Count: <%= @product_count.inspect %></p>
  <p>Total Categories Count: <%= @category_count %></p>
</div>